<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>@ViewData["Title"] - Westfield Institute</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="~/css/site.css?v=1.0.0" />
		@RenderSection("Head", required: false)
	</head>
	<body>
		<nav>
			<ul>
				<li>
					<a asp-controller="Home" asp-action="Index">Home Page</a>
				</li>
				<li>
					<a asp-controller="Home" asp-action="Privacy"> Privacy Page</a>
				</li>
				<li>
				<a asp-controller="Student" asp-action="Index"> View Students</a>
				</li>
			</ul>
		</nav>
		<main>
			@RenderBody()
		</main>
	</body>
</html>